.backBtn,#readBtn,.backBtn::after,#readBtn::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}.backBtn,#readBtn {
    cursor: pointer;
    background: none;
    border: 4px solid #fff;
    border-radius: 10px;
    color: rgb(0, 211, 248);
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.7em ;
    position: relative;
    text-transform: uppercase;
    border: 2px solid rgb(61, 172, 231);
}.backBtn::before,.backBtn::after {
    background: rgb(61, 172, 231);
    content: '';
    position: absolute;
    z-index: -1;
}.backBtn:hover {
    color: #ffffff;
}
.backBtn::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
}
.backBtn:hover:after {
width: 100%;
}

#readBtn{
    color: aliceblue;
    text-transform: capitalize;
    padding: 5px;
}

#readBtn:hover{
    padding: 7px;
    border-color: aliceblue;
}

#booksContainer{
    background: radial-gradient(#1fe4f5, #3fbafe);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.5s;

    padding: 15px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
}
#booksContainer:hover{
    box-Shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
}
#bookOuterContainer{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.bookCardHover:hover{
    box-Shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
}